.icon-arrow-down 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='64' height='63' viewBox='0 0 64 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.757214 15C0.453222 15 0.179628 15.1824 0.0580317 15.4712C-0.0635652 15.76 0.0124338 16.0792 0.225228 16.292L31.4756 47.5424C31.6276 47.6944 31.8252 47.7704 32.0076 47.7704C32.19 47.7704 32.4028 47.6944 32.5396 47.5424L63.7748 16.3072C63.9876 16.1096 64.0636 15.7752 63.942 15.4712C63.8204 15.1824 63.5468 15 63.2428 15H0.757214Z' fill='%23808080'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}