.card
{
    padding: sass-rem(16px);
    background-color: $c-white;
    border: 1px solid $c-mid-grey;
    border-radius: 0.5rem;

    @media (min-width: 576px)
    {
        padding: sass-rem(32px);
    }
}
