.default-button
{
    padding: sass-rem(16px 24px);
    background-color: $c-brand-orange;
    border: none;
    border-radius: sass-rem(4px);
    color: $c-white;
    font-family: $f-inter;
    font-weight: 500;
    font-size: sass-rem(16px);
    text-decoration: none;

    &:hover,
    &:active,
    &:focus
    {
        background-color: $c-dark-orange;
    }

    &:disabled
    {
        background-color: $c-brand-mid-grey;
    }
}
