.default-button
{
    padding: rem(16px 24px);
    background-color: $c-brand-orange;
    border: none;
    border-radius: rem(4px);
    color: $c-white;
    font-family: $f-inter;
    font-weight: 500;
    font-size: rem(16px);

    &:hover
    {
        background-color: $c-dark-orange;
        border: none;
    }

    &:disabled
    {
        background-color: $c-brand-mid-grey;
        border: none;
    }
}
