.icon-text-button
{
    display: inline-flex;
    align-items: center;
    padding: 0;
    border: none;
    color: $c-brand-mid-grey;
    font-family: $f-inter;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;

    &__icon
    {
        display: inline-block;
        margin-right: 4px;
        width: rem(16px);
        height: rem(16px);
        color: inherit;
    }

    &:hover
    {
        color: $c-brand-dark-grey;
    }

    &:disabled
    {
        color: $c-brand-light-grey;
    }
}
