.label {
  @extend .paragraph-style-three;
  colour: $c-white;
  background-color: $c-brand-orange;
  border: rem(1.5px) solid $c-brand-orange;
  padding: rem(3px 7px);
  border-radius: rem(4px);
  color: $c-white;
  line-height: 26px;
}