.label-filled {
  @extend .paragraph-style-three;
  colour: $c-white;
  background-color: $c-brand-orange;
  border: sass-rem(1.5px) solid $c-brand-orange;
  padding: sass-rem(3px 7px);
  border-radius: sass-rem(4px);
  color: $c-white;
  line-height: 26px;
}
