.text-link-button
{
    font-family: $f-inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus
    {
        color: $c-brand-orange;
    }

    &:disabled
    {
        color: $c-mid-grey;
    }
}