.toggle
{
    &__control
    {
        // display: none;
    }

    &__labels
    {
        display: inline-flex;
        width: 100%;
        border: sass-rem(1.5px) solid $c-brand-orange;
        border-radius: sass-rem(4px);
        overflow: hidden;

        &:focus-within
        {
            box-shadow: 0 0 3px $c-help-blue;
        }
    }

    &__label
    {
        flex: 1 0 auto;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        //padding: sass-rem(9.5px 18.5px);
        padding-left: sass-rem(9.5px);
        padding-right: sass-rem(9.5px);
        font-family: $f-inter;
        font-size: sass-rem(16px);
        text-align: center;
        font-weight: 400;
        color: $c-typography;
        border-left: sass-rem(0.75px) solid transparent;

        &:not(.toggle__label--checked)
        {
            & + &
            {
                border-left-color: $c-mid-grey;
            }
        }

        &--checked
        {
            background-color: $c-brand-orange;
            font-weight: 600;
            color: $c-white;
        }
    }

    @media (max-width: 576px)
    {
        &-xs-vert .toggle
        {
            &__labels
            {
                flex-direction: column;
            }

            &__label
            {
                border-left: none !important;
                border-top: sass-rem(0.75px) solid transparent;
            }

            &__label:not(.toggle__label--checked) + .toggle__label:not(.toggle__label--checked)
            {
                border-top-color: $c-mid-grey;
            }
        }
    }

    &--error
    {
        .toggle
        {
            &__labels
            {
                border-color: $c-red;
            }

            &__error
            {
                display: block;
                margin-top: 8px;
                font-family: Inter, sans-serif;
                font-size: 14px;
                color: $c-red;
            }
        }
    }
}
