.toggle
{
    &__control
    {
        display: none;
    }

    &__labels
    {
        display: flex;
    }

    &__label
    {
        padding: rem(12px 24px);
        border: 2px solid $c-brand-orange;
        font-family: $f-inter;
        font-size: rem(16px);
        text-align: center;
        font-weight: 400;
        color: $c-typography;

        &--checked
        {
            background-color: $c-brand-orange;
            font-weight: 600;
            color: $c-white;
        }

        &:first-child
        {
            border-top-left-radius: rem(4px);
            border-bottom-left-radius: rem(4px);
        }

        &:last-child
        {
            border-top-right-radius: rem(4px);
            border-bottom-right-radius: rem(4px);
        }
    }
}