.toggle
{
    &__control
    {
        display: none;
    }

    &__labels
    {
        display: inline-flex;
        width: 100%;
        border: rem(1.5px) solid $c-brand-orange;
        border-radius: rem(4px);
    }

    &__label
    {
        flex: 1 0 auto;
        padding: rem(14.5px 22.5px);
        font-family: $f-inter;
        font-size: rem(16px);
        text-align: center;
        font-weight: 400;
        color: $c-typography;

        &:not(.toggle__label--checked)
        {
            & + &
            {
                border-left: rem(0.75px) solid $c-mid-grey;
            }   
        }

        &--checked
        {
            background-color: $c-brand-orange;
            font-weight: 600;
            color: $c-white;
        }
    }
}
