.bg-brand-orange { background-color: $c-brand-orange; }
.bg-brand-light-grey { background-color: $c-brand-light-grey; }
.bg-brand-mid-grey { background-color: $c-brand-mid-grey; }
.bg-brand-dark-grey { background-color: $c-brand-dark-grey; }

.bg-black { background-color: $c-black; }
.bg-typography { background-color: $c-typography; }
.bg-mid-grey { background-color: $c-mid-grey; }
.bg-light-grey { background-color: $c-light-grey; }
.bg-background-color { background-color: $c-background-color; }
.bg-white { background-color: $c-white; }

.bg-blue { background-color: $c-blue; }
.bg-dark-orange { background-color: $c-dark-orange; }
.bg-green { background-color: $c-green; }
.bg-help-blue { background-color: $c-help-blue; }
.bg-light-green { background-color: $c-light-green; }
.bg-light-orange { background-color: $c-light-orange; }
.bg-light-red { background-color: $c-light-red; }
.bg-red { background-color: $c-red; }


.t-brand-orange { color: $c-brand-orange; }
.t-brand-light-grey { color: $c-brand-light-grey; }
.t-brand-mid-grey { color: $c-brand-mid-grey; }
.t-brand-dark-grey { color: $c-brand-dark-grey; }

.t-black { color: $c-black; }
.t-typography { color: $c-typography; }
.t-mid-grey { color: $c-mid-grey; }
.t-light-grey { color: $c-light-grey; }
.t-background-color { color: $c-background-color; }
.t-white { color: $c-white; }

.t-blue { color: $c-blue; }
.t-dark-orange { color: $c-dark-orange; }
.t-green { color: $c-green; }
.t-help-blue { color: $c-help-blue; }
.t-light-green { color: $c-light-green; }
.t-light-orange { color: $c-light-orange; }
.t-light-red { color: $c-light-red; }
.t-red { color: $c-red; }
