// Font Weights
.font-weight-extra-bold {
  font-weight: $fw-extra-bold;
}

.font-weight-medium {
  font-weight: $fw-medium;
}

// Font Sizes
.fs-regular {
  font-size: $fs-16;
}

.fs-32 {
  font-size: $fs-32;
}

.fs-28 {
  font-size: $fs-28;
}

.fs-24 {
  font-size: $fs-24;
}

.fs-20 {
  font-size: $fs-20;
}

.fs-18 {
  font-size: $fs-18;
}

.fs-16 {
  font-size: $fs-16;
}

.fs-14 {
  font-size: $fs-14;
}

.fs-12 {
  font-size: $fs-12;
}

// Line Heights
.lh-reset {
  line-height: $lh-reset;
}

.lh-sm {
  line-height: $lh-sm;
}

.lh-lg {
  line-height: $lh-lg;
}

// Text styles
.text-style-one
{
    @include TextStyle(32px, 1.3);
}

.text-style-two
{
    @include TextStyle(28px, 1.3);
}

.text-style-three
{
    @include TextStyle(24px, 1.3);
}

.text-style-four
{
    @include TextStyle(22px, 1.3);
}

.text-style-five
{
    @include TextStyle(20px, 1.3);
}

.text-style-six
{
    @include TextStyle(12px, 1.3);
}

.text-style-seven
{
    @include TextStyle(18px, 1.5);
}

.text-style-eight
{
    @include TextStyle(16px, 1.5);
}

.text-style-nine
{
    @include TextStyle(14px, 1.5);
}


// Headings
.heading-style-one
{
    @extend .text-style-one;
}

.heading-style-two
{
    @extend .text-style-two;
}

.heading-style-three
{
    @extend .text-style-three;
}

.heading-style-four
{
    @extend .text-style-four;
}

.heading-style-five
{
    @extend .text-style-five;
}

.heading-style-six
{
    @extend .text-style-six;
}


// Paragraph
.paragraph-style-one
{
    @extend .text-style-seven;
}

.paragraph-style-two
{
    @extend .text-style-eight;
}

.paragraph-style-three
{
    @extend .text-style-nine;
}
