.navigation-sidebar-close
{
    box-sizing: content-box;
    height: 20px;
    font-size: sass-rem(44px);
    line-height: 20px;

    [class^="icon-"]
    {
        width: sass-rem(16px);
        height: sass-rem(16px);
    }
}
