.navigation-sidebar-close
{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: rem(36px);
    flex-grow: 1;

    [class^="icon-"]
    {
        width: rem(16px);
        height: rem(16px);
    }
}