// Brand Colors
$c-brand-orange: #E98714;
$c-brand-light-grey: #B2B2B2;
$c-brand-mid-grey: #808080;
$c-brand-dark-grey: #4D4D4D;

// Neutral Colors
$c-black: #000000;
$c-typography: #333333;
$c-mid-grey: #DBDBDB;
$c-light-grey: #F4F4F4;
$c-background-color: #FAFAFA;
$c-white: #fff;

// UI Colors
$c-blue: #1A5276;
$c-dark-orange: #D27401;
$c-green: #209369;
$c-help-blue: #0072CE;
$c-light-green: #CEE7DE;
$c-light-orange: #FCEEDE;
$c-light-red: #F5D7CC;
$c-red: #DF4C16;
